
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutPage.cshtml";
}
<form class="form-inline">
    
    <label for="email">班级:</label>
    <select id="class" class="form-control"></select>
    <label for="pwd">姓名:</label>
    <input type="text" class="form-control" id="Stu_Name" placeholder="请输入姓">
   
</form>